@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
    font-size: var(--size-xxs);
}



/*변수선언*/
html {
    font-size: 4px;
    word-break: keep-all;
}

:root {
    /*Color*/
    --mint: #90D8C0;
    --navy: #0A3157;
    --black: #333333;
    --white: #ffffff;
    --light-gray: #f6f6f6;
    --dark-gray: #999999;
    --white-blur: rgba(255, 255, 255, 0.4);
    --black-blur: rgba(0, 0, 0, 0.4);

    /*Font-Family*/
    --neo: 'NanumSquareNeo';

    /*Font-Weight*/
    --weight-t: 300;
    --weight-r: 400;
    --weight-b: 700;

    /*Font-Size*/
    --size-xxs: 3rem; /*12px*/
    --size-xs: 4rem; /*16px*/
    --size-s: 4.5rem; /*18px*/
    --size-m: 6rem; /*24px*/
    --size-l: 7rem; /*28px*/

    --main-title: 16rem; /*68px*/
    
    /*Line-height*/
    --line-t: 200%;
    --line-s: 180%;
    --main-line: 140%;

    /*Blur*/
    --bg-blur-20: 20px;
    --bg-blur-10: 10px;

    /*Button_Shadow*/
    --box-shadow: 0px 0px 10px rgba(51, 51, 51,0.2);
}

