@charset "utf-8";

@media (min-width:1217px){
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48
  }

#slider {
	width: 100%;
	height: 800px;
	background-color: var(--black);
	margin: 0 auto;
    position: relative;
    padding-top: 60px;
}

.slider_wrap {
    width: 1200px;
    height: 180px;
    margin: 0 auto;
    position: sticky;
    top: 100px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slide_title {
    width: 85%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide_title h1 {
    font-family: var(--neo);
    font-size: 60px;
    font-weight: var(--weight-b);
    color: var(--white);
}

.slide_title h3 {
    font-family: var(--neo);
    font-size: 25px;
    font-weight: var(--weight-b);
    color: var(--white);
    margin-left: 10px;
    margin-bottom: 5px;
}

.slider_wrap>.btn {
    width: 15%;
    height: 50%;
    font-size: var(--nexon-xxs);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
    background-color: unset;
    color: var(--white);
    border: none;
}

.slider_wrap>.btn>span {
    margin: 0 10px;
}

.slider_wrap>.btn:hover {
    cursor: pointer;
}

#fixed_wrap {
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 70px;
}

#fixed_main {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    background-image: url(../../images/sub2/fixed_main.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s ease-out;
}

#fixed_main > .cover {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #000;
    opacity: 0;
    transition: 0.5s ease-out;
}

#info_main {
    margin-top: 40px;
    width: 100%;
    height: 2900px;
    margin: 100px auto 0;
    padding: 100px 0;
    margin-bottom: 60px;
}

#info_main_wrap {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

#info_main_wrap>h3 {
    line-height: var(--line-t);
    font-weight: var(--weight-b);
    font-size: 32px;
    padding: 15px 20px 10px 40px;
    margin-bottom: 50px;
}

.info_box {
    width: 100%;
    height: 650px;
    transition: 0.5s ease-out;
    padding: 15px;
}

.box1 {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.7s ease;
    opacity: 0;
    transform: translateY(100px);
}

.box2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.7s ease;
    opacity: 0;
    transform: translateY(100px);
}

.box3 {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.7s ease;
    opacity: 0;
    transform: translateY(100px);
}

.box4 {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.7s ease;
    opacity: 0;
    transform: translateY(100px);
}

.info_text_box {
    width: 40%;
    height: 95%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.text_inner_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_inner_box>h3 {
    font-size: var(--size-l);
    font-weight: var(--weight-b);
    margin-bottom: 20px;
}

.text_inner_box>p {
    padding: 30px 10px;
    font-size: var(--size-xs);
    line-height: 180%;
    text-align: justify;
    margin-bottom: 30px;
}

.info_img_box {
    width: 40%;
    height: 95%;
    padding: 0 20px;
}

.info_img_box>img {
    width: 100%;
    height: 100%;
}



#mid_banner {
    width: 100%;
    height: 1070px;
    position: relative;
    margin-bottom: 30px;
}
#mid_banner video {
    width: 100%;
    height: 100%;
}
.mid_img_box_wrap {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 2;
}

.aside_l {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 25px;
}

.mid_img_box1 {
    width: 340px;
    height: 360px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #fff;
}
.mid_box1_text {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}
.mid_box1_text > h2 > img {
    width: 40px;
    height: 40px;
    float: left;
    margin-top: -9px;
}
.mid_box1_text > h2 {
    padding: 20px;
    font-size: var(--size-m);
    font-weight: var(--weight-b);
}
.mid_box1_text > h3 {
    color: var(--navy);
    padding: 0 10px;
    font-size: var(--size-s);
    font-weight: var(--weight-b);
    line-height: var(--line-s);
    margin-bottom: 15px;
}
.mid_box1_text > p {
    font-size: var(--size-xs); 
    padding: 0 10px;
    line-height: var(--line-s);
}
.mid_box1_text > h2 > img {
    margin-right: 10px;
}

.mid_img_box2 {
    width: 340px;
    height: 360px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #fff;
}
.mid_box2_text {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}
.mid_box2_text > h2 > img {
    width: 60px;
    height: 40px;
    float: left;
    margin-top: -9px;
}
.mid_box2_text > h2 {
    padding: 20px;
    font-size: var(--size-m);
    font-weight: var(--weight-b);
}
.mid_box2_text > h3 {
    color: var(--navy);
    padding: 0 10px;
    font-size: var(--size-s);
    font-weight: var(--weight-b);
    line-height: var(--line-s);
    margin-bottom: 15px;
}
.mid_box2_text > p {
    font-size: var(--size-xs); 
    padding: 0 10px;
    line-height: var(--line-s);
}


.aside_r {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 25px;
}

.mid_img_box3 {
    width: 340px;
    height: 560px;
    margin-left: 50px;
    border-radius: 20px;
    background-color: #fff;
}
.mid_box3_text {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}
.mid_box3_text > h2 > img {
    width: 40px;
    height: 40px;
    float: left;
    margin-top: -9px;
}
.mid_box3_text > h2 {
    padding: 20px;
    font-size: var(--size-m);
    font-weight: var(--weight-b);
}
.mid_box3_text > h3 {
    color: var(--navy);
    padding: 0 10px;
    font-size: var(--size-s);
    font-weight: var(--weight-b);
    line-height: var(--line-s);
    margin-bottom: 15px;
}
.mid_box3_text > p {
    font-size: var(--size-xs); 
    padding: 0 10px;
    line-height: var(--line-s);
}


.mid_img_box1:hover {
    opacity: 0.9;
}
.mid_img_box2:hover {
    opacity: 0.9;
}
.mid_img_box3:hover {
    opacity: 0.9;
}

#mid_info {
    width: 100%;
    height: 3950px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}


.mid_info_wrap {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.mid_info_title {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
}

.mid_info_title>h3 {
    font-size: 32px;
    font-weight: var(--weight-b);
    line-height: var(--line-t);
    padding: 20px 20px 10px 30px;
}

.mid_info_box {
    width: 100%;
    height: 3850px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content_box {
    width: 100%;
    height: 920px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}


.text_box1 {
    width: 50%;
    height: 70%; 
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text_box1 > h3 {
    font-weight: var(--weight-b);
    font-size: var(--size-m);
    line-height: var(--line-t);
}

.text_box1 > h4 {
    color: var(--mint);
    line-height: var(--line-t);
}

.text_box1 > p {
    font-size: var(--size-xs);
    line-height: var(--line-s);
}

.img_box1 {
    width: 50%;
    height: 70%;
    transition: all 1s ease-out;
}
.img_box1>img {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    transform: translateX(-200px);
    opacity: 0;
    transition: all 0.7s ease-out;
}

.img_box2{
    width: 100%;
    height: 33%;

}
.img_box2>img {
    width: 50%;
    height: 109%;
    float: right;
    margin: -60px 0;
    padding: 10px 35px;
    transform: translateX(150px);
    opacity: 0;
    transition: all 0.7s ease-out;
}

.img_box3 {
    width: 50%;
    height: 70%;
    transition: all 1s ease-out;
}
.img_box3>img {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    transform: translateX(150px);
    opacity: 0;
    transition: all 0.7s ease-out;
}

.img_box4{
    width: 100%;
    height: 33%;
    
}
.img_box4>img {
    width: 50%;
    height: 109%;
    float: left;
    margin: 5px 0;
    padding: 10px 35px;
    transform: translateX(-200px);
    opacity: 0;
    transition: all 0.7s ease-out;
}

.img_box5 {
    width: 50%;
    height: 70%;
    transition: all 1s ease-out;
}

.img_box5 > img {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    transform: translateX(-200px);
    opacity: 0;
    transition: all 0.7s ease-out;
}

.img_box6{
    width: 100%;
    height: 33%;
}
.img_box6>img {
    width: 50%;
    height: 109%;
    float: right;
    margin: -60px 0;
    padding: 10px 35px;
    transform: translateX(150px);
    opacity: 0;
    transition: all 0.7s ease-out;
}

.img_box7 {
    width: 50%;
    height: 70%;
    transition: all 1s ease-out;
}
.img_box7>img {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    transform: translateX(150px);
    opacity: 0;
    transition: all 0.7s ease-out;
}

.img_box8{
    width: 100%;
    height: 33%;
    
}
.img_box8>img {
    width: 50%;
    height: 109%;
    float: left;
    margin: 5px 0;
    padding: 10px 35px;
    transform: translateX(-200px);
    opacity: 0;
    transition: all 0.7s ease-out;
}

.text_box2 {
    width: 50%;
    height: 70%; 
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text_box2 > h3 {
    font-weight: var(--weight-b);
    font-size: var(--size-m);
    line-height: var(--line-t);
}

.text_box2 > h4 {
    color: var(--mint);
    line-height: var(--line-t);
}

.text_box2 > p {
    font-size: var(--size-xs);
    line-height: var(--line-s);
}





#slide {
    width: 100%;
    height: 950px;
    background-image: linear-gradient(to bottom, white, rgb(255, 255, 255), var(--light-gray));
    overflow: hidden;
    margin-top: 100px;
}

#bagr {
    width: 100%;
    height: 350px;
    /* background-color: #C5C5C5; */
}

#sliding {
    width: 1200px;
    height: 950px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* background-color: var(--mint); */
}

#txt  {
    width: 100%;
    padding: 0 10px;
}

#txt h2 {
    line-height: var(--line-t);
    font-weight: var(--weight-b);
    font-size: 32px;
    padding: 0px 20px 0px 30px;
}

#txt p {
    line-height: var(--line-s);
    padding: 0 30px; 
}

.swiper {
    width: 88%;
    height: 72%;
    margin: 50px 0;
    display: flex;
    align-items: center;
}

#circle {
    width: 12%;
    height: 73%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle img {
    width: 75px;
    height: 75px;
    animation: rotate_image 7s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 90% !important;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    box-sizing: content-box;
}

.swiper-wrapper>.swiper-slide img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.swiper-wrapper>.swiper-slide h3 {
    position: absolute;
    bottom: 12%;
    padding: 0px 0 0 15px;
    font-weight: var(--weight-b);
    font-size: var(--size-m);
    color: var(--white);
}

.swiper-wrapper>.swiper-slide h4 {
    position: absolute;
    bottom: 7%;
    padding: 0px 0 0 17px;
    font-size: var(--size-xs);
    color: var(--white);
}

.swiper-button-next {
    position: absolute;
    top: var(--swiper-navigation-top-offset,43.5%) !important;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black,var(--light-gray)) !important;
}

.swiper-button-prev {
    position: absolute;
    top: var(--swiper-navigation-top-offset,43.5%) !important;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black,var(--light-gray)) !important;
}

#sliding>p {
    width: 70%;
    height: 6px;
    margin: -50px auto;
    margin-right: 35px;
    border-radius: 5px;
    background-color: var(--white);
}

#notice {
    width: 1200px;
    height: 630px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #9e9e9e; */
}

#notice h2 {
    line-height: var(--line-t);
    font-weight: var(--weight-b);
    font-size: 32px;
    padding: 0px 0px 0px 50px;
    margin: 1%;
}

#Flip {
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

.flip-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: transparent;
    width: 350px;
    height: 350px;
    perspective: 1000px;
    /* background-color: #C5C5C5; */
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

.flip-card-front {
    width: 350px;
    height: 350px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--light-gray);
}

.iconz {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.iconz img {
    width: 40px;
    height: 40px;
}

.iconz h3 {
    font-size: var(--size-m);
    font-weight: var(--weight-b);
    padding: 7px 15px;
}

.notis {
    text-align: center;
    line-height: var(--line-s);
}

.flip-card-back {
    width: 350px;
    height: 350px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotateY(180deg);
    color: var(--white);
    background-color: var(--navy);
}

.flip-card-back p {
    text-align: center;
    line-height: var(--line-s);
    font-size: var(--size-xs);
}
}